@using MvcCvResume.Entities.Concrete
@model List<Education>

<section id="education" class="section section-no-border bg-color-dark m-0">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-color-quaternary text-uppercase font-weight-extra-bold m-0">Eğitim Bilgilerim</h2>
                <div class="owl-carousel nav-bottom custom-dots-style-1 custom-dots-color-1 custom-dots-color-1-light mb-0" data-plugin-options="{'items': 1, 'loop': false, 'dots': true, 'nav': false}">
                    <div class="row">
                        @foreach (var e in Model)
                        {
                        
                            <div class="col-lg-6 col-sm-6 pb-4">
                                <div class="custom-box-details-2 bg-color-darken custom-box-shadow-3">
                                    <i class="icon-graduation icons text-color-primary"></i>
                                    <h4 class="font-weight-semibold text-color-light m-0">@e.SchoolName</h4>
                                    <p class="custom-text-color-2 mb-1">@e.Part</p>
                                    <strong class="text-color-primary">@e.StartDate.ToShortDateString() - @if (@e.EndDate is not null)
                                                                                                          {
                                                                                                              @e.EndDate.Value.ToShortDateString()
                                                                                                          }
                                                                                                          else { @("Devam ediyor...")} </strong>
                                </div>
                            </div>
                        }
                    </div>  
                        
                    
                    @* <div class="row">
                        <div class="col-lg-6 col-sm-6 pb-4">
                            <div class="custom-box-details-2 bg-color-darken custom-box-shadow-3">
                                <i class="icon-graduation icons text-color-primary"></i>
                                <h4 class="font-weight-semibold text-color-light m-0">Porto University</h4>
                                <p class="custom-text-color-2 mb-1">Master of Information Technology</p>
                                <strong class="text-color-primary">2001-2023</strong>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 pb-4">
                            <div class="custom-box-details-2 bg-color-darken custom-box-shadow-3">
                                <i class="icon-graduation icons text-color-primary"></i>
                                <h4 class="font-weight-semibold text-color-light m-0">Porto University</h4>
                                <p class="custom-text-color-2 mb-1">Master of Information Technology</p>
                                <strong class="text-color-primary">2001-2023</strong>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 pb-4">
                            <div class="custom-box-details-2 bg-color-darken custom-box-shadow-3">
                                <i class="icon-graduation icons text-color-primary"></i>
                                <h4 class="font-weight-semibold text-color-light m-0">Porto University</h4>
                                <p class="custom-text-color-2 mb-1">Master of Information Technology</p>
                                <strong class="text-color-primary">2001-2023</strong>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 pb-4">
                            <div class="custom-box-details-2 bg-color-darken custom-box-shadow-3">
                                <i class="icon-graduation icons text-color-primary"></i>
                                <h4 class="font-weight-semibold text-color-light m-0">Porto University</h4>
                                <p class="custom-text-color-2 mb-1">Master of Information Technology</p>
                                <strong class="text-color-primary">2001-2023</strong>
                            </div>
                        </div>
                    </div> *@
                </div>
            </div>
        </div>
    </div>
</section>